ex*data* filter=lfs diff=lfs merge=lfs -text
convolutional-neural-networks/week1/datasets/test_signs.h5 filter=lfs diff=lfs merge=lfs -text
convolutional-neural-networks/week1/datasets/train_signs.h5 filter=lfs diff=lfs merge=lfs -text
convolutional-neural-networks/week2/KerasTutorial/datasets/test_happy.h5 filter=lfs diff=lfs merge=lfs -text
convolutional-neural-networks/week2/KerasTutorial/datasets/train_happy.h5 filter=lfs diff=lfs merge=lfs -text
convolutional-neural-networks/week2/ResNets/datasets/test_signs.h5 filter=lfs diff=lfs merge=lfs -text
convolutional-neural-networks/week2/ResNets/datasets/train_signs.h5 filter=lfs diff=lfs merge=lfs -text
deep-neural-network/week5/Regularization/datasets/test_catvnoncat.h5 filter=lfs diff=lfs merge=lfs -text
deep-neural-network/week5/Regularization/datasets/train_catvnoncat.h5 filter=lfs diff=lfs merge=lfs -text
deep-neural-network/week5/Regularization/datasets/data.mat filter=lfs diff=lfs merge=lfs -text
deep-neural-network/week6/datasets/data.mat filter=lfs diff=lfs merge=lfs -text
deep-neural-network/week7/datasets/test_signs.h5 filter=lfs diff=lfs merge=lfs -text
deep-neural-network/week7/datasets/train_signs.h5 filter=lfs diff=lfs merge=lfs -text
nlp-sequence-models/*/*/models/* filter=lfs diff=lfs merge=lfs -text
nlp-sequence-models/*/*/data/* filter=lfs diff=lfs merge=lfs -text
neural-networks-deep-learning/Week[[:space:]]2/Logistic[[:space:]]Regression[[:space:]]as[[:space:]]a[[:space:]]Neural[[:space:]]Network/datasets/test_catvnoncat.h5 filter=lfs diff=lfs merge=lfs -text
neural-networks-deep-learning/Week[[:space:]]2/Logistic[[:space:]]Regression[[:space:]]as[[:space:]]a[[:space:]]Neural[[:space:]]Network/datasets/train_catvnoncat.h5 filter=lfs diff=lfs merge=lfs -text
neural-networks-deep-learning/Week[[:space:]]4/Deep[[:space:]]Neural[[:space:]]Network[[:space:]]Application_[[:space:]]Image[[:space:]]Classification/datasets/test_catvnoncat.h5 filter=lfs diff=lfs merge=lfs -text
neural-networks-deep-learning/Week[[:space:]]4/Deep[[:space:]]Neural[[:space:]]Network[[:space:]]Application_[[:space:]]Image[[:space:]]Classification/datasets/train_catvnoncat.h5 filter=lfs diff=lfs merge=lfs -text
